<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administraci칩n</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>
    <header>
        <h1>Panel de Administraci칩n</h1>
    </header>

    <main class="container">
        <div class="card-item">
            <h2>Hola <%= username %>!</h2>
            <p>Est치s en el panel de administrador.</p>

            <nav>
                <ul class="nav-list">
                    <li><a href="/games" class="nav-link">Llistat de jocs</a></li>
                    <li><a href="/teams" class="nav-link">Llistat d'equips</a></li>
                </ul>
            </nav>

            <form action="/logout" method="POST">
                <button type="submit" class="btn-link">Cerrar sesi칩n</button>
            </form>
        </div>
    </main>
</body>

</html>
