<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administraci칩n</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <header>
        <h1>Panel de Administraci칩n</h1>
    </header>

    <main>
        <div class="form-container">
            <h2>Hola <%= username %>!</h2>
            <p>Est치s en el panel de administrador.</p>

            <nav>
                <ul>
                    <li><a href="/games">Llistat de jocs</a></li>
                    <li><a href="/teams">Llistat d'equips</a></li>
                </ul>
            </nav>

            <form action="/logout" method="POST">
                <button type="submit" id="close-session">Cerrar sesi칩n</button>
            </form>
        </div>
    </main>
</body>

</html>
